body {
    background-color: #212121;
    color: #F2F2F2;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
    color: #007edf;
}

p {
    margin: 2px;
}

audio {
    width: 355px;
}

.showIfNoApi {
    display: none;
}