#visualisation {
    height: 255px;
    position: relative;
    margin: 10px;
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255,255,255,0.2)));
}

#visualisation > div {
    width: 10px;
    background-color: darkorange;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}